{{ define "main" -}}

<h1> All Posts </h1>

<section class="post-grid">
{{ range .Data.Pages -}}
  <div class="post-card">
    {{ if .Params.FeaturedImage -}}
    <a href="{{ .Permalink }}"><img class="post-card-image" src="{{ .Params.FeaturedImage }}" alt="{{ .Params.FeaturedImageDescription }}"></a>
    {{- else -}}
    <img class="post-card-image" src=" /images/pages/img-not-found.png" alt="Image not found.">
    {{- end -}}
    <div class="post-card-text">
    	<span><a href="{{ .Permalink }}" class="post-card-title">{{ .Title }}</a></span>
	<br>
    	<time class="post-card-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
  </div>
{{- end }}
</section>
{{- end }}
